
<!DOCTYPE html>
{% extends 'todo/base.html' %}

{% block content %}
<div class="col-4 offset-4">
  <a href="/" class="btn btn-secondary"> Go Home</a>
  <div class="card mt-3">
    <div class="card-header">
      <a href="/{{todo.id}}"><h4>{{todo.name}}</h4></a>
    </div>

    <div class="card-body">
      <p>It's due on{{todo.due_date}}</p>
    </div>
    <div class="card-footer">
      <a class="btn btn-secondary" href="/{{todo.id}}/update/">
        Update this Todo
      </a>
      <br>
      <br>
      <a class="btn btn-secondary" href="/{{todo.id}}/delete/">
        Delete this Todo
      </a>
    </div>

</div>

{% endblock %}
